.DS_Store
vue-flashcards/node_modules
vue-flashcards/dist

# local env files
vue-flashcards/.env.local
vue-flashcards/.env.*.local

# Log files
vue-flashcards/npm-debug.log*
vue-flashcards/yarn-debug.log*
vue-flashcards/yarn-error.log*

# Editor directories and files
vue-flashcards/.idea
vue-flashcards/.vscode
vue-flashcards/*.suo
vue-flashcards/*.ntvs*
vue-flashcards/*.njsproj
vue-flashcards/*.sln
vue-flashcards/*.sw*
